﻿@{
    ViewData["Title"] = "Добавить транзакцию";
}

<div>
    <h1 class="display-4">Добавить транзакцию</h1>
    <div id="app" class="mt-5">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Банк-источник: </label>
                <div class="col-sm-10 col-xl-4">
                    <input class="form-control senderBankDropdown" />
                </div>
            </div>

            <div class="form-group row d-none">
                <label class="col-sm-2 col-form-label">Счет-источник: </label>
                <div class="col-sm-10 col-xl-4">
                    <input class="form-control senderAccountDropdown" />
                </div>
            </div>

            <div class="form-group row d-none">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary sender_submit">Отправить</button>
                </div>
            </div>

            <div class="alert alert-success d-none" role="alert">
            </div>

        </form>
        <form class="d-none">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Банк-получатель: </label>
                <div class="col-sm-10 col-xl-4">
                    <input class="form-control recipientBankDropdown" />
                </div>
            </div>

            <div class="form-group row d-none">
                <label class="col-sm-2 col-form-label">Счет-получатель: </label>
                <div class="col-sm-10 col-xl-4">
                    <input class="form-control recipientAccountDropdown" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Сумма: </label>
                <div class="col-sm-10 col-xl-2">
                    <input type="number" name="amount" class="form-control" />
                    <div class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-group row d-none">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary recipient_submit">Отправить</button>
                </div>
            </div>

            <div class="alert alert-danger d-none" role="alert">
            </div>

        </form>

    </div>
</div>
